@tailwind base;
@tailwind components;
@tailwind utilities;


.bricolage-font {
    font-family: "Bricolage Grotesque";
  }

  @font-face {
    font-family: 'BroseFont';
    src: url('../src/fonts/Brose.ttf') format('truetype'),
   
  }
.broge-font {
    font-family: 'BroseFont';
    font-weight: normal;
    font-style: normal;
  }
